body {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    background-color: #22223b; /* Change the background color of the page */
    list-style: none;
    text-decoration: none;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.text-decoration{
    text-decoration: none;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    height: 100vh;
}

.login-form,
.social-icons {
    background-color: #ffff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.social-icons {
    margin-right: 20px;
    height: fit-content;
    background: #dee2e6;
}

.login-form {
    background: #dee2e6;
}

.social-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="email"],
.login-form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Include padding and border in the width */
}

.login-form button {
    background-color: #669bbc;
    color: #fff;
    border: none;
    cursor: pointer;
}

.login-form p {
    margin-top: 10px;
}

.login-form a {
    color: #669bbc;
    text-decoration: none;
}

.social-icons h2 {
    margin-bottom: 20px;
}

.social-icons a {
    display: inline-block;
    margin: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #669bbc;
    color: #fff;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
}

.user-email {
    font-size: 15px !important;
}
.registration-form{
    width: 680px;
    height: auto;
}

header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 170px;
    list-style: none;
    background: #22223b;
}

.logo{
    color: #669bbc;
    font-weight: 600;
    font-size: 2.4rem;
}

.navbar{
    display:flex;
}

.navbar a{
    color: #fff;
    font-size: 1.1rem;
    padding: 10px 20px;
    font-weight: 500;
}

.navbar a:hover{
    color: #669bbc;
    transition: .4s;
}

section{
    padding: 70px 17%;
}

.home{
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    align-items: center;
}

.home-img img{
    max-width: 100%;
    width: 650px;
    height: auto;
}

.home-text h1{
    font-size: 5rem;
    color: #669bbc;
}

.home-text h2{
    font-size: 2.25rem;
    margin: 1rem 0 2rem;
    color: #fff;
}

.btn-own{
    display: inline-block;
    padding: 10px 20px;
    background: #669bbc;
    color: #fff;
    border-radius: 0.5rem;
}

.btn-own:hover{
    transform: scale(1.2) translateY(10px);
    transition: .4s;
}

::selection{
    background: #669bbc;
    color: #fff;
}

.calendar-img img{
    max-width: 100%;
    width: 480px;
    height: auto;
}
.calendar-text span{
    color: #669bbc;
    font-weight: 600;
}

.calendar-text h2{
    font-size: 2.25rem;
    color: #fff;
}

.calendar-text p{
    margin: 0.8rem 0 1.8rem;
    line-height: 1.7;
    color: #fff;
}

.calendar{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 1.5rem;
    align-items: center;
}

.addForm div{
    margin: 100px
}


