<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,300;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <a href="#" class="logo text-decoration">YourTask</a>
            <ul class="navbar">
                <li><a href="#Home" class="text-decoration">Home</a></li>
                <li><a href="#Calendar" class="text-decoration">Calendar</a></li>
                <li><a href="#AddTask" class="text-decoration">Add</a></li>
                <li><a href="#TaskTable" class="text-decoration">Collection</a></li>
            </ul>
    </header>

    <section class="home" id="Home">
        <div class="home-text">
            <h1>YourTask Website</h1>
            <h2>Manage all your day's <br> work hours successfuly</h2>
            <a href="#Calendar" class="btn-own text-decoration">Get's Started</a>
        </div>
        <div class="home-img">
            <img src="/static/images/home1-removebg.png" alt="photo de todo!">
        </div>
    </section>

    <section class="calendar" id="Calendar">
        <div class="calendar-img">
            <img src="/static/images/fullCalendar.png" alt="">
        </div>
        <div class="calendar-text">
            <span>Calendar</span>
            <h2>this calendar present <br>data you share to it!</h2>
            <p>As you can see we have an attractive, modern and professionel webSite <br>that may encourage you to try it!</p>
            <a href="#AddTask" class="btn">Try it</a>
        </div>
    </section>

    <script src='fullcalendar/main.js'>
            window.onload =() =>{
                var calendarEl = document.getElementById('calendarCanvas');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                  initialView: 'dayGridMonth'
                });
                calendar.render();
            }

    </script>
    <section class="addForm" id="AddTask">
        <div class="login-form">
            <h2>Task</h2>
            <form id="registrationForm">
                <label for="description">description:</label>
                <input type="text" id="description" required>

                <label for="dateTask">date:</label>
                <input type="datetime-local" id="dateTask" required>
                <br> <br>
                <button type="submit">Create Task</button>
            </form>
        </div>
    </section>

    <section class="taskTable" id="TaskTable">
        <div class="login-form">
            <h2>Task List</h2>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">description</th>
                    <th scope="col">date Task</th>
                </tr>
                </thead>
                <tbody id="table-body">


                </tbody>
            </table>
        </div>
    </section>
    <script src="/static/js/addTaskJs.js"></script>
    <script src="/static/js/listTaskJs.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'> </script>
</body>
</html>